@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  --background: #1f2937;
  --button-color: #3882f6;
  --quote-background: #e5e7eb;
  --secondary-text: #f9faf8;
}

html,
body {
  scroll-behavior: smooth;
}

nav {
  background-color: var(--background);
  color: var(--secondary-text);
  display: flex;
  justify-content: space-between;
  padding: 10px 220px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: var(--secondary-text);
}

.nav-links {
  display: flex;
  gap: 24px;
  font-size: 18px;
  font-weight: 300;
}

.nav-links a {
  text-decoration: none;
  color: var(--quote-background);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  padding: 150px 220px;
  background-color: var(--background);
  gap: 80px;
}

.hero-content .left h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--secondary-text);
}

.hero-content .left p {
  font-size: 18px;
  color: var(--quote-background);
}

.hero-content .left button {
  background-color: var(--button-color);
  color: var(--secondary-text);
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

.hero-content .right .box {
  height: 300px;
  width: 580px;
  background-color: var(--quote-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.cards h1 {
  margin: 0 0 40px;
  font-size: 40px;
  font-weight: 900;
  color: var(--background);
}

.cards .cards-box {
  display: flex;
  gap: 20px;
}

.cards-box .card {
  width: 200px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 180px;
}

.cards-box .card p {
  text-align: center;
  font-size: 16px;
  margin-top: 4px;
  color: var(--background);
}

.cards-box .card-box {
  height: 170px;
  width: 180px;
  border-radius: 10px;
  border: 4px solid var(--button-color);
}

.quote-area {
  background-color: var(--quote-background);
  padding: 120px 350px;
  align-items: center;
}

.quote-area .quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote-area .author {
  display: flex;
  justify-content: end;
  font-weight: 900;
}

.call-to-action {
  padding: 60px 220px;
}

.call-to-action .call-box {
  background-color: var(--button-color);
  color: var(--secondary-text);
  padding: 40px 100px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-box .left p {
  font-size: 14px;
  font-weight: 300;
  color: var(--quote-background);
}

.call-box .right button {
  color: var(--secondary-text);
  background-color: transparent;
  padding: 5px 20px;
  border: 2px solid var(--secondary-text);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

footer {
  background-color: var(--background);
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
}
